body {
  font-size: 14px;
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.subHeader-wrap {
  background: #43425d;
  min-height: 60px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 11; 
  justify-content: space-between;
}

.table-wrap {
  padding: 0px;
  position: relative;
  /*z-index: 1;*/
}

.table-wrap .table-head {
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  background: #ffff;
  border-radius: 2px 2px 0 0;
  box-shadow: 1px 2px 8px 1px rgba(204, 204, 204, 0.4);
  position: relative;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 11;
}

.table-wrap .table-body {
  position: relative;
  top: 41px;
  margin-bottom: 40px;
}

.table-wrap .table-head .head-col {
  display: flex;
  align-items: center;
  min-height: 40px;
  float: left;
  color: #1a3042;
  padding: 0 7px;
  font-size: 13px;
  flex: auto;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
}

.table-wrap .table-row {
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 0 10px;
}

.table-wrap .table-row .table-cell {
  display: flex;
  align-items: center;
  min-height: 50px;
  float: left;
  border-right: 1px solid #ddd;
  padding: 0 7px;
  font-size: 14px;
  flex: auto;
  justify-content: center;
  position: relative;
  font-weight: 510;
}

.subHeader-wrap {
  border: none;
  margin-bottom: -21px;
  overflow: hidden;
  padding-left: 80px;
}

.commonInsideWrap {
  padding-top: 60px; 
}

.subHeader-wrap .tab-holder {
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 900px;
  margin: 0 auto;
}

.subHeader-wrap h2 {
  font-size: 19px;
  margin: 0;
}

.subHeader-wrap h2 span {
  font-size: 15px;
  margin: 0 15px;
}
.table-wrap .table-row .table-cell .lbl {
  display: none;
}

  